pytest>=7.0.1
moto>=3.0.7
codecov>=2.1.12
dask[dataframe]>=2022.2.0
dash[testing]
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.0.3 # not directly required, pinned by Snyk to avoid a vulnerability